* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    padding-bottom: 1%;
}


.container {margin: auto;}

.Text-header {
    font-size: 15px;
    color: #707070;
    margin-right: 50%;
    margin-top: 2%;
    margin-left: 3%;

}

.Knopka-header {
    background-color: #FFA019;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 10%;
    text-align: center;
    margin-left: 14%;
    text-decoration: none;
}

.Logo {
    margin-left: 3%;
    size: 30px;
    margin-top: 1%;
    margin-bottom: 1%; 
    font-size: 25px;  
    font-weight: bold;
}

.Osobenost {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Osobenost-item {margin-right: 65px;}

.Osobenost-link {
    color: black;
    text-decoration: none;
}

.Osobenost-link:hover {
    color: black;
    color: rgb(143, 134, 143);
    text-decoration: none;
}



